
h2 {
	
	&.artist-name {
		color: white !important;
		font-size: 1.6em !important;
		font-weight: bold !important;
		text-transform: uppercase !important;
		font-family: "Oswald", sans-serif !important;
	}
}

#artwork-scrollspy {
    position: fixed !important;
    bottom: 30px;
    left: 0;
    background: rgba(0,0,0,0.65);
    padding: 20px;
    width: 50%;
    z-index: 1001;
    right:0;
    margin: 0 auto;

    @media screen and #{$screen-ltmd} {
        display: none;
    }

    .nav {
        list-style: disc;
		text-align: center;
		
        li {
	            display: inline-block;
				margin: 0 10px;
				float: none;
            a {
                color: white;
                opacity: 0.65;
                padding: 8px 5px;

                &:hover, &:focus, &:active {
                    background: none;
                    opacity: 1;
                }
            }

            &.active {
                a {
                    background: none;
                    color: white;
                    opacity: 1;
                    padding-left: 15px
                }
            }
        }
    }
    
    .nav-pills {
	    >li {
			float:none;	    
	    }
	}
}

#audio-player {
    position: fixed !important;
    bottom: 30px;
    left: 50%;
    margin-left: -150px;
    z-index: 1001;
    width: 300px;
}

.artists {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .artist {
        width: 46%;
        margin: 2%;
        text-align: center;

        @media screen and #{$screen-ltmd} {
            width: 100%;
            margin: 0;
        }

        .artist-metadata {
            display: flex;
            justify-content: center;
        }
        .artist-image {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 99px;
            float: left;
            margin-right: 20px;

            img {
                width: auto;
                height: 100%;
            }
        }
        h2 {
            margin: 2px 0 0;
            float: left;
            font-size: 2.4rem;
            text-align: left;
        }
        small {
            margin: 5px 0 0;
            display: block;
            font-style: italic;
            font-size: 1.8rem;
        }
        p {
            clear: both;
            margin: 10px 0 20px;
            text-align: left;
        }
    }
}

.content-container {
    height: auto;
    padding: 50px 0;

    .content {
        padding: 0 30px;
        width: 50%;
        display: inline-block;
        vertical-align: top;

        &.content-left {
            padding-left: 30px;
        }
        &.content-right {
            padding-right: 30px;
        }
    }
    @media screen and (max-width: 950px) {
	  	.content {
	    	width: 100%;
		}
	}
    
    
    .images {
        width: 45%;
        display: inline-block;
        vertical-align: top;

        &.images-left img {
            transform: rotate(-2deg) translateX(-50px);
        }
        &.images-right {
            margin-left: 4%;

            img {
                transform: rotate(2deg) translateX(75px);
            }
        }
        
        

        img {
            border: 20px solid #EFEFDC;
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
            margin: 0;
            margin-top: -30px;
            vertical-align: bottom;
            position: relative;
            z-index: 3;
        }
    }
    
    @media screen and (max-width: 950px) {
	  	.images {
		  	width: 85%;
		  	display: block;
		  	margin: 40px auto;
		  	
		  	img {
			  	border: 10px solid #EFEFDC;
		  	}
		  	
		  	&.images-left img {
	            transform: rotate(-2deg);
	        }
		  	
		  	&.images-right {
            	margin-left: auto !important;
            	
            	img {
	                transform: rotate(2deg);
	            }
            }
		}
		
	}
}

@media screen and (max-width: 950px) {
    .artwork-hero-inner {
		margin-bottom: 0px;
		margin-top: 45px;
	}
}
