<footer>
    <div class="text-center container">
        <h1>The Great Migration</h1>
        <h2>A City Transformed</h2>
        <p>Copyright &copy; {{ "now"|date('Y', timezone="America/New_York") }}. <a href="http://scribe.org/" target="_blank">Scribe Video Center</a>.
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:inquiry@scribe.org" target="_blank">inquiry@scribe.org</a>
        </p>
        <p class='funded-by'>THE GREAT MIGRATION: A CITY TRANSFORMED (1916-1930)  is supported by <a href="http://www.pcah.us/" target="_blank">The Pew Center for Arts & Heritage</a>.</p>
        
        <a href="http://www.pcah.us/" target="_blank"><img src="/greatmigration/{{ directory }}/images/pew-logo.png" class="pew-logo" width="80" /></a>
        <a href="http://www.scribe.org/" target="_blank"><img src="/greatmigration/{{ directory }}/scribe-logo.png" class="scribe-logo" width="80" /></a>
    </div>
</footer>