<footer>
    <div class="text-center container">
        <h1>The Great Migration</h1>
        <h2>A City Transformed</h2>
        <p>Copyright &copy; {{ "now"|date('Y', timezone="America/New_York") }}. <a href="http://scribe.org/" target="_blank">Scribe Video Center</a>.</p>
        <p>This project was generously funded by the <a href="http://www.pcah.us/" target="_blank">Pew Center for Arts & Heritage</a>.</p>
    </div>
</footer>