#homepage-carousel {
    margin-top: 100px;
}

.map-marker {
    width: 50px !important;
    height: 50px;
    background: url(img/marker-primary.svg) no-repeat center center;
    background-size: 90%;
    position: absolute;
    top: 125px;
    left: 50%;
    margin-left: -20px;
}

.artwork-hero-inner,
.carousel-inner {
    height: 750px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;

    @media screen and #{$screen-xs} {
        height: 600px;
    }

    &.preciousplaces {
        .artwork-hero-details-container {
            background: #e56e4a;
        }
        .btn {
            &:hover, &:focus, &:active {
                color: #e56e4a;
            }
        }
    }

    .carousel-image,
    .artwork-hero-image {
        width: 50%;
        height: 750px;

        @media screen and #{$screen-xs} {
            height: 600px;
            width: 100%;
        }

        img {
            height: 100%;
            width: auto;
        }
    }
    .artwork-hero-image {
        img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 1s all;

            &.in {
                opacity: 1;
            }
        }
    }

    .carousel-details-container,
    .artwork-hero-details-container {
        width: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        background: $accentgreen;
        bottom: 0;

        @media screen and #{$screen-xs} {
            width: 100%;
            left: 0;
            background: rgba($accentgreen, 0.85);
        }

        img {
            width: 100%;
            
            @media screen and #{$screen-xs} {
                margin: 50px auto 0;
                display: block;
                width: 90%;
            }
        }
        .carousel-details,
        .artwork-hero-details {
            padding: 50px;
            text-align: center;

            @media screen and #{$screen-gtmd} {
                padding: 50px 60px;
            }

            h1 {
                color: white;
                font-size: 5.4rem;
                margin: 0 0 25px;
                
                @media screen and #{$screen-xs} {
                    font-size: 4.8rem;
                }
            }
            h3 {
                color: white;
                margin: 0 0 10px;
                font-size: 1.9rem;
            }
            p {
                font-size: 1.8rem;
                color: white;
                margin: 0 0 25px;
                line-height: 1.8;

                @media screen and #{$screen-xs} {
                    font-size: 1.8rem;
                }
            }

            .btn {
                width: 85%;
                max-width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                

                span.glyphicon {
                    margin-right: 8px;
                    font-size: 90%;
                }

                @media screen and #{$screen-xs} {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .artwork-hero-details {
            padding-top: 100px;
        }
    }
}
.carousel-indicators {
    bottom: -50px;

    li {
        background: lighten($midgray, 10%);
        border: none;
        width: 14px !important;
        height: 14px !important;
        margin: 0 2px !important;

        &.active {
            background: $accentgreen;
        }
    }
}