footer {
    margin-top: 100px;  
    padding: 50px 0;

    h1 {
        margin: 0 0 8px;
        font-family: $sans-serif;
        font-size: 2.1rem;
        text-transform: uppercase;
        color: $midgray;
    }
    h2 {
        margin: 0 0 20px;
        font-size: 1.6rem;
        font-style: italic;
        color: $midgray;
    }
    p {
        font-size: 1.2rem;
        color: $midgray;
        margin: 0 0 5px;

        a {
            color: $midgray;
            font-weight: bold;
            text-decoration: underline;
            
            &:hover, &:focus, &:active {
                color: darken($midgray, 10%);
            }
        }
    }
}
