nav.navbar {
    background: white;
    border: none;
    height: 100px;
    transition: 0.5s all;

    #toolbar-administration + & {
        top: 79px;
    }

    @media screen and #{$screen-gtxs} {
        &.scrolled {
            height: 80px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
            .navbar-brand {
                font-size: 2.0rem;
                padding: 20px 15px;
    
                span { 
                    font-size: 1.3rem;
                    margin-top: 3px;
                }

                &.logo {
                    img {
                        max-height: 82px;
                    }
                }
            }
            .navbar-nav {
                > li {
                    a {
                        padding: 30px 0 6px;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding: 25px 15px;
        height: 100px;
        font-family: $sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: $black;
        transition: 0.5s all;
        
        span {
            font-family: $serif;
            font-size: 1.6rem;
            font-style: italic;
            text-transform: none;
            display: block;
            margin-top: 8px;
            color: $accentgreen;
            transition: 0.5s all;
        }

        &.logo {
            padding: 10px;
            opacity: 1;
            transform: rotate(-7deg);

            &:hover, &:focus, &:active {
                transform: none;
                -moz-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
                -webkit-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
                transform: rotate(0deg);
            }

            img {
                max-height: 105px;
                transition: 0.5s all;
                transform: none;
                -moz-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.35));
                -webkit-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.35));
                filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.35));
            }
            
            @media screen and #{$screen-xs} {
	            img {
	        		max-height: 80px;    
	        	}
	        }
        }
    }
    .navbar-nav {
        > li {
	        
            &.open,
            &:hover {
	            > a {
                    background: none;
                    border-bottom: none;
                }
                > ul {
                    padding: 0;
                    display: block;

                    @media screen and #{$screen-xs} {
                        position: static;
                        float: none;
                        width: auto;
                        margin-top: 0;
                        background-color: transparent;
                        border: 0;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                    @media screen and #{$screen-gtxs} {
                        right: auto;
                        left: 50%;
                        top: 100%;
                        border-radius: 0;
                        border: none;
                        width: 260px;
                        margin-left: -130px;
                    }

                    > li {
	                    &:first-child {
                            a {
                                border-top: 1px solid $lightgray;
                            }
                        }
                        
                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }

                        > a.is-active {
                            background: $accentgreen;
                            color: white;
                            
                            &.preciousplaces {
                                background: #e56e4a;
                            }
                        }

                        > a {
                            padding: 10px 20px;
                            border-bottom: 1px solid $lightgray;
                            text-align: center;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            @media screen and #{$screen-xs} {
                                padding: 15px 30px;
                            }
                        }
                    }
                }
            }
            &.active {
                > a {
                    background: none;
                    color: $black;

                    @media screen and #{$screen-gtxs} {
                        border-bottom: 3px solid $accentgreen;
                    }
                }
            }

            > a {
                padding: 40px 0 6px;
                margin: 0 15px;
                font-size: 1.5rem;
                transition: 0.5s all;

                @media screen and #{$screen-gtxs} {
                    position: relative;
                    top: 0;
                }

                &.is-active {
                    background: none;
                    color: $black;

                    @media screen and #{$screen-gtxs} {
                        border-bottom: 3px solid $accentgreen;
                    }
                }
                &:hover, &:focus, &:active {
                    background: none !important;
                    
                    @media screen and #{$screen-gtxs} {
                        top: -5px;
                    }
                }

                @media screen and #{$screen-xs} {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $lightgray;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }

    @media screen and #{$screen-xs} {
        .navbar-toggle {
            border: none;
            margin-top: 28px;
            margin-right: 10px;
    
            &:focus, &:active, &:hover {
                background: none;
    
                .icon-bar {
                    background-color: $accentgreen;
                }
            }
    
            .icon-bar {
                width: 32px;
                transition: 0.5s all;
                
                + .icon-bar {
                    margin-top: 6px;
                }
            }
        }
        .navbar-collapse {
            padding: 0px;
            top: -5px;
            position: relative;
            background: white;
            margin: 0 -30px;
            box-shadow: 0 5px 20px rgba(0,0,0,0);
    
            &.in {
                box-shadow: 0 5px 20px rgba(0,0,0,0.25);
                display: block!important;
            }
    
            > ul {
                margin: 0;
            }
        }
    }
}
